<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>BeeHelper</title>
    <meta name="description" content="prototype">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/custom.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../scripts/jquery-ui-1.12.1.custom/jquery-ui.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,100,100italic,300,300italic,700,900&subset=latin,cyrillic-ext"
          rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700&subset=latin,latin-ext" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400&subset=latin,cyrillic-ext" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Neucha" rel="stylesheet">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
    <link rel="stylesheet" href="../css/bootstrap-clockpicker.css">
    
    <script src="https://use.fontawesome.com/ee57c8a0cc.js"></script>


</head>
<body class="">

<header class="fixed-top bg-primary">
    <div class="container-fluid">
        <div class="row no-gutters">

        <nav class="navbar p-0 col-2 col-sm-4 col-md-3">
        <a href="index.html" class="hidden-xs-down navbar-brand py-0 text-primary">Bee
            Helper</a>
        <a href="" class="hidden-sm-up navbar-brand header-link py-0 text-primary">BH</a>
    </nav>

    
    <nav class="navbar name-holder col-8 col-sm-6 col-md-5 ">
        <ul class="nav align-items-center">
            <li class="nav-item">
                <a href="my-profile.html" class="nav-link ">
                            <span>
                        <img src="../images/cat.gif">
                        </span>
                </a>
            </li>
            <li class="nav-item">
                <a href="my-profile.html" class="nav-link text-primary">
                    Yulia Pishchulina</a>
            </li>
            <li class="nav-item hidden-xs-down" style="border-left:1px solid #ffd600">
                <button class="btn btn-primary" type="button">Sign out</button>
            </li>
        </ul>
    </nav>

    <nav class="navbar navbar-toggleable-sm col-auto col-sm-auto col-md-4">
    <button class="navbar-toggler navbar-toggler-right text-primary" type="button" data-toggle="collapse"
            data-target="#headerCollapseMenu" aria-controls="headerCollapseMenu"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse p-2" id="headerCollapseMenu">
        <ul class="navbar-nav ml-auto ">
            
                <li class="nav-item">
                    <a class="nav-link text-primary"
                       href="aboutproject.html">About project</a>
                </li>
            
                <li class="nav-item">
                    <a class="nav-link text-primary"
                       href="importantinfo.html">Important info</a>
                </li>
            
                <li class="nav-item">
                    <a class="nav-link text-primary"
                       href="contactus.html">Contact us</a>
                </li>
            

        </ul>
    </div>
</nav>



</div>


    </div>
</header>
<main>
    <div class="container-fluid">
        <div class="row">

            <aside class="navbar sidebar-nav no-gutters hidden-xs-down p-0 bg-primary" role="navigation">
                

                    <ul class="nav flex-column no-gutters">
    
        
            <li class="nav-item sidebar aside-find bg-primary" data-id="find">
        

        <a href="index.html" class="btn btn-aside px-0" style="position: relative">
            <div class= "pt-2" style="box-sizing: content-box; height: 48px;">
                <i class="fa fa-search fa-3x">
                </i>
            </div>

            <p style="position: static; top: 0px;">Find</p>

        </a>
        </li>

    
        
            <i class="fa fa-envelope-o fa-2x text-primary" id="badge-my-todo-list" aria-hidden="true"
               style="position: relative; left: 62px"></i>
        <li class="nav-item sidebar aside-my-todo-list bg-primary" data-id="my-todo-list"
            style="margin-top: -32px">

        

        <a href="user-todo.html" class="btn btn-aside px-0" style="position: relative">
            <div class= "pt-2" style="box-sizing: content-box; height: 48px;">
                <i class="fa fa-space-shuttle fa-3x">
                </i>
            </div>

            <p style="position: static; top: 0px;">My jobs</p>

        </a>
        </li>

    
        
            <i class="fa fa-envelope-o fa-2x text-primary" id="badge-help-me" aria-hidden="true"
               style="position: relative; left: 62px"></i>
        <li class="nav-item sidebar aside-help-me bg-primary" data-id="help-me"
            style="margin-top: -32px">

        

        <a href="user-helpme.html" class="btn btn-aside px-0" style="position: relative">
            <div class= "pt-2" style="box-sizing: content-box; height: 48px;">
                <i class="fa fa-bath fa-3x">
                </i>
            </div>

            <p style="position: static; top: 0px;">Help me</p>

        </a>
        </li>

    
</ul>



                

            </aside>
            <div class="col page-content my-4">
                <div class="col-6 col-sm-10 mx-auto ">

                    

                        <!-- This block (and any other block) can be replaced using template inheritance, or leave the default content in -->

                    






<form>
    <h2>I can help with:</h2>
    <fieldset class="date-field">
        <legend>Date</legend>
        
<div class="row">

    <div class="col-md-3">
        <div class="form-group">
            <div class="form-check">
    <label class="form-check-label">
        <input class="form-check-input" id="selectDays" name="set-date" type="radio" onclick="radioHandleClick(this)" value="days">
        Select days of week
    </label>
</div>
<div class="form-check">
    <label class="form-check-label">
        <input class="form-check-input" id="selectDates"  name="set-date" type="radio" onclick="radioHandleClick(this)" value="dates">
        Or choose specific dates
    </label>
</div>







        </div>
    </div>

    <div class="col-md-9 selectByDays collapse">
        <div class="row">
            <div class="col-md-8">
                <div class="form-group " id="selDaysForm" data-toggle="button">
                    
    <label for="monday" class="btn btn-primary label-btn p-0">
        <input type="checkbox" autocomplete="off" id="monday"
               value="mon">Mon
        <br>
        <i class="fa fa-check" aria-hidden="true"></i>
    </label>

    <label for="tuesday" class="btn btn-primary label-btn p-0">
        <input type="checkbox" autocomplete="off" id="tuesday"
               value="tue">Tue
        <br>
        <i class="fa fa-check" aria-hidden="true"></i>
    </label>

    <label for="wednesday" class="btn btn-primary label-btn p-0">
        <input type="checkbox" autocomplete="off" id="wednesday"
               value="wed">Wed
        <br>
        <i class="fa fa-check" aria-hidden="true"></i>
    </label>

    <label for="thursday" class="btn btn-primary label-btn p-0">
        <input type="checkbox" autocomplete="off" id="thursday"
               value="thu">Thu
        <br>
        <i class="fa fa-check" aria-hidden="true"></i>
    </label>

    <label for="friday" class="btn btn-primary label-btn p-0">
        <input type="checkbox" autocomplete="off" id="friday"
               value="fri">Fri
        <br>
        <i class="fa fa-check" aria-hidden="true"></i>
    </label>

    <label for="saturday" class="btn btn-primary label-btn p-0">
        <input type="checkbox" autocomplete="off" id="saturday"
               value="sat">Sat
        <br>
        <i class="fa fa-check" aria-hidden="true"></i>
    </label>

    <label for="sunday" class="btn btn-primary label-btn p-0">
        <input type="checkbox" autocomplete="off" id="sunday"
               value="sun">Sun
        <br>
        <i class="fa fa-check" aria-hidden="true"></i>
    </label>


                </div>
                <div class="row pr-5">
                    <div class="input-daterange " id="range"
                         data-date-week-start="1" data-date-clear-btn="true"
                         data-date-today-highlight="true">

                        <label for="startDate" class="my-label"></label>
                        <input type="text" class="form-control col-sm-6" id="startDate"
                               name="start-date"
                               placeholder="Starting from:">

                        <label for="endDate" class="my-label "></label>
                        <input type="text" class="form-control col-sm-6" id="endDate"
                               name="end-date" placeholder="End date:">
                    </div>

                </div>

            </div>
            <div class="col-md-4">

            </div>
        </div>
    </div>

    <div class="col-md-9  selectByDates collapse">
        <div class="row">
            <div class="col-md-8" id="selDatesForm">
                <div class="datepicker datepicker-inline" id="multidate">

                </div>

            </div>
            <div class="col-md-4">
                <h6>Selected dates:</h6>
                <div id="selectedDatesList"></div>
            </div>
        </div>
    </div>
</div>





    </fieldset>
    <fieldset>
        <legend>Time and location</legend>
        <div class="row">
            <div class="col-12 col-md-6 ">
                <div class="form-group form-inline">
                    <label for="can-location-range">Search within</label>
                    <select class="form-control ml-2" id="can-location-range" name="range">
                        <option value="5" selected>5 miles</option>
                        <option value="10">10 miles</option>
                        <option value="15">15 miles</option>
                        <option value="20">20 miles</option>
                    </select>
                    <p class="d-inline-block mr-auto ml-2 mt-3">from</p>
                </div>
                
    

            <div class="form-group">
                <label for="bb-location" class="my-label"></label>
                <div class="input-group">
                    <input class="form-control address-input"
                           id="bb-location"
                           name="need-bb-address" type="text" size="50"
                           placeholder="Location">
                    <span class="input-group-addon">
                                                      <i class="fa fa-map-marker" aria-hidden="true"></i>
                                                </span>
                </div>
            </div>

    

                <div class="form-group">
                    <label for="dayTimePicker" class="my-label">Select part of day (you can
                        choose both)</label>
                    <div id="dayTimePicker" data-toggle="buttons">
                        
    <label for="timeAm" class="btn btn-primary label-btn">
        <input type="checkbox" name="option-time" autocomplete="off"
               id="timeAm"
               value="am">Am
        <br>
        <i class="fa fa-check" aria-hidden="true"></i>
    </label>

                        
    <label for="timePm" class="btn btn-primary label-btn">
        <input type="checkbox" name="option-time" autocomplete="off"
               id="timePm"
               value="pm">Pm
        <br>
        <i class="fa fa-check" aria-hidden="true"></i>
    </label>

                    </div>
                </div>

            </div>

            <div class="col-12 col-md-6">
                <div class="embed-responsive embed-responsive-16by9" id="mapHolder"></div>
            </div>
        </div>

    </fieldset>
    <fieldset>
        <legend>Additional information</legend>
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="form-group">
                    <label for="canHelpType" class="my-label">Help type (you can choose both)</label>
                    <div id="canHelpType" data-toggle="buttons">
                        
    <label for="typeBbsitting" class="btn btn-primary label-btn">
        <input type="checkbox" name="option-type" autocomplete="off"
               id="typeBbsitting"
               value="babysitting">Babysitting
        <br>
        <i class="fa fa-check" aria-hidden="true"></i>
    </label>

                        
    <label for="typetransport" class="btn btn-primary label-btn">
        <input type="checkbox" name="option-type" autocomplete="off"
               id="typetransport"
               value="transportation">Transportation
        <br>
        <i class="fa fa-check" aria-hidden="true"></i>
    </label>

                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="form-group">
                    <label for="payment" class="my-label">Оплата</label>
                    <div id="payment" data-toggle="buttons">
                        
    <label for="payMoney" class="btn btn-primary label-btn">
        <input type="checkbox" name="option-pay" autocomplete="off"
               id="payMoney"
               value="money">Money
        <br>
        <i class="fa fa-check" aria-hidden="true"></i>
    </label>

                        
    <label for="payBarter" class="btn btn-primary label-btn">
        <input type="checkbox" name="option-pay" autocomplete="off"
               id="payBarter"
               value="barter">Barter
        <br>
        <i class="fa fa-check" aria-hidden="true"></i>
    </label>

                    </div>
                    <div class="hidden-sm-up" id="paySelected">
                            <div class="form-group">
        <em class="text-muted">Add radiobutton to select payment/hour or /day or /help<br>
        May be different for "babysitting" and "transportation"</em>
        <p>
            <label for="amount">Price range:</label>
            <input type="text" id="amount" readonly
                   style="border:0; color:#f6931f; font-weight:bold;">
        </p>
        <div id="price-range"></div>
    </div>

                    </div>
                    <div class="hidden-sm-up" id="barterSelected">
                        <div class='form-group'>
                            <label for='need-transportation-info' class="my-label">Describe barter terms</label>
                            <textarea id='need-transportation-info' name="info" class="form-control"
                                      rows='5'></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class='form-group'>
            <label for='need-transportation-info' class="my-label">Give more information</label>
            <textarea id='need-transportation-info' name="info" class="form-control"
                      rows='5'></textarea>
        </div>
    </fieldset>
    <div class="row">
        <div class="col-12 text-center mb-5">
            

        <a class="btn btn-primary btn-primary-custom btn-border" href="results.html"
           role="button">Find</a>



        </div>
    </div>
</form>



                </div>
            </div>

        </div>
        <div class="row">

            <footer class="bg-primary hidden-sm-up fixed-bottom">
                
                    
<nav class="bg-primary d-flex" role="navigation">
    <ul class="nav mx-auto">
        
    
        <li class="nav-item sidebar">
            <a href="find.html" class="btn btn-aside">
                <i class = "fa fa-search"></i><br/>
                find
            </a>
        </li>
    
        <li class="nav-item sidebar">
            <a href="my-todo-list.html" class="btn btn-aside">
                <i class = "fa fa-space-shuttle"></i><br/>
                my-todo-list
            </a>
        </li>
    
        <li class="nav-item sidebar">
            <a href="help-me.html" class="btn btn-aside">
                <i class = "fa fa-bath"></i><br/>
                help-me
            </a>
        </li>
    

    </ul>
</nav>

                
            </footer>
        </div>
        
        
    </div>
</main>


    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

<script src="../scripts/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.2/js/tether.js"></script>


<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
<script src="http://localhost:35729/livereload.js"></script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBnidssOZD0WwpPZpENq0-IlAMc-0CRjwc&libraries=places&language=en&region=EN"></script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript" src="../scripts/screenMode.js"></script>
<script type="text/javascript" src="../scripts/bootstrap-clockpicker.js"></script>
<script type="text/javascript" src="../scripts/custom.js"></script>


<script>
    var active = "find";

    $('.btn-aside').each(function () {

        if ($(this).attr('href') === (active + '.html')) {
            $(this).parent().addClass('active');
        }
    })
</script>



    
    

    
    
        
        
    

    
    
        
        
        
        
    
    
        
            
        
        
            
        
    
    

        
            
            
            
            
            
                
            
        

        
            
        
        
            
            
            
            
            
        
        
    
    



    
    
    
    
    
    
    

    
        
        
        
            
            
            
        
        
            
            
        
        
        
            
        
    


    
        
            
        
        
        
        
            
                
            
        
        

            
        
    

    
        
        
            
                
                
                
                
            
                
            
        
    

    
        
        
        
            
                
            
            

                
                
            
        
    

    
        
    

    
        
            
            
            
            
            
        
        
            
            
            
            
            
        
    
    






<script>

    makeActive('aside-find');
    var form = $("form").attr('id');
    var map;
    var marker, markerB;
    var autocomplete;
    var myLocation;
    var geocoder;

    function initMap() {
        var mapOptions = {
            zoom: 10
        };
        var mapDiv = document.getElementById("mapHolder");
        map = new google.maps.Map(mapDiv, mapOptions);
        // Get GEOLOCATION
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (position) {
                myLocation = new google.maps.LatLng(position.coords.latitude,
                    position.coords.longitude);

                map.setCenter(myLocation);
                if (form === 'babysitting-find' || form === 'find-job') {
                    marker = new google.maps.Marker({
                        position: myLocation,
                        map: map,
                        draggable: true
                    });
                } else {
                    marker = new google.maps.Marker({
                        position: myLocation,
                        map: map,
                        draggable: true,
                        label: "A",
                        title: "pick-up"
                    });

                    markerB = new google.maps.Marker({
                        position: myLocation,
                        map: map,
                        draggable: true,
                        label: "B",
                        title: "drop-off"
                    });

                    markerB.addListener("dragend", markerDraged, function () {
                        handleNoGeolocation(true);
                    });
                }
                marker.addListener("dragend", markerDraged, function () {
                    handleNoGeolocation(true);
                });
            })
        } else {
            // Browser doesn't support Geolocation
            handleNoGeolocation(false);
        }
    }
    function markerDraged() {
        var field
        if (this.label && this.label === "A") {
            field = "#pick-up-location"
        }
        if (this.label && this.label === "B") {
            field = "#drop-off-location"
        }
        if (!this.label) {
            field = "#bb-location"
        }
        geocoder = new google.maps.Geocoder();

        geocoder.geocode({'location': this.position}, function (results, status) {
            if (status === 'OK') {
                $(field).val(results[0].formatted_address)
            } else {
                window.alert('Geocoder failed due to: ' + status);
            }
        });
    }
    function handleNoGeolocation(errorFlag) {

        if (errorFlag) {
            var content = 'Error: The Geolocation service failed.';
        } else {
            var content = 'Error: Your browser doesn\'t support geolocation.';
        }

        var options = {
            map: map,
            position: new google.maps.LatLng(60, 105),
            content: content
        };

        map.setCenter(options.position);
        marker = new google.maps.Marker({
            position: options.position,
            map: map,
            draggable: true
        });

    }
    function fieldAutocomplete(id) {
        autocomplete = new google.maps.places.Autocomplete((document.getElementById(id)),
            {
                types: ['geocode'],
                'myId': id
            });
        var circle = new google.maps.Circle({
            center: myLocation,
            radius: 10000
        });
        autocomplete.setBounds(circle.getBounds());
        autocomplete.addListener('place_changed', placeMarker);
    }

    function placeMarker() {
        var place = autocomplete.getPlace();
        var latLng = place.geometry.location;


        if (form === "transportation-find" && autocomplete.myId === "drop-off-location") {
            markerB.setPosition(latLng)
        } else {
            marker.setPosition(latLng);
        }
        if (form === "transportation-find") {
            var allMarkers = [marker, markerB];
            var bounds = new google.maps.LatLngBounds();
            for (var i = 0; i < allMarkers.length; i++) {
                bounds.extend(allMarkers[i].getPosition());
            }
            map.fitBounds(bounds);
        } else {
            map.setCenter(latLng)
        }
    }

    $(".address-input").click(function () {
        this.value = "";
        var fieldId = this.id;

        if (form === "transportation-find" && fieldId === "drop-off-location") {
        }
        fieldAutocomplete(fieldId)
    })

    initMap();
    $("#price-range").slider({
        range: true,
        min: 0,
        max: 150,
        values: [15, 45],
        slide: function (event, ui) {
            $("#amount").val(ui.values[0] + " uah/hour" + " - " + ui.values[1] + " uah/hour");
        }
    });

    $("#amount").val($("#price-range").slider("values", 0) + " uah/hour" +
        " - " + $("#price-range").slider("values", 1) + " uah/hour");

    $(".clockpicker").clockpicker({
        donetext: "set time"
    });

</script>



</body>
</html>
