/*general page styles*/
body {
    font-family: "Lato", sans-serif;
    font-weight: 300;
}

button,
button:active,
button:focus,
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: none;
}

.wrapper {
    overflow: hidden;
}

.space-after {
    margin-bottom: 30px;
}

a {
    text-decoration: none;
    font-family: "Cutive Mono", monospace;
    font-size: 20px;
}

a:hover,
a:focus {
    text-decoration: underline;
}

.text-thin {
    font-weight: 100;
}

.text-medium {
    font-weight: 400;
}

.text-indent {
    text-indent: 2em;
}

#back-to-top {
display: none;
    z-index: 10;
    position: fixed;
    top: 50%;
    left: 0;
    margin: 6px;
    width: 50px;
    height: 50px;

    cursor: pointer;
    border-radius: 50%;
    background-color: gainsboro;
    color: rgba(0, 0, 0, 0.67);
    opacity: 0.6;
}
#back-to-top a {
    display: block;
}
#back-to-top span {
   font-size: 1.5em;
    margin: 20%
}
/*header styles*/
header img {
    margin-top: 20px;
}

header hr {
    border-top: 2px solid #bcbbbb;
}
header p {
    display: inline-block;
    margin-bottom: 0;
}
header p:nth-child(1) {
    margin-right: 50px;
}
.anchor {
    position: absolute;

}
/*navigation styles*/
.navbar-nav {
    margin: 0;
}

.logo {
    width: 100px;
    height: 100px;
}

@media screen and (max-width: 750px) {
    .logo {
        width: 50px;
        height: 50px;
    }
}

.navbar-default {
    position: relative;
    top: -20px;
    margin-bottom: 0;
}

nav a {
    font-family: "Lato", sans-serif;
    font-size: 14px;
    padding-right: 30px;
}

.print-button {
    margin-right: 0;
}

.navbar-toggle {
    margin-left: 15px;
}



/*about section styles*/
main {
    border-left: 2px solid #bcbbbb;
}

.table-skills {
    table-layout: auto;
}

.column-1 {
    padding-left: 0;
}

.table-skills td {
    border-top: none;
    padding-top: 15px;
}

.about-gallery {
    padding: 0;
    min-height: 200px;
}

.about-gallery figcaption {
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .5;
    color: #fff;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (max-width: 991px) {
    .about-gallery {
        height: 360px;
    }
}

@media screen and (max-width: 450px) {
    .about-gallery {
        height: 200px;
    }
}

.block {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 20;
}

.string {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

/*portfolio styles*/
.portfolio-gallery a {
    display: block;
    margin-bottom: 15px;
}

.portfolio-gallery img {
    width: 360px;
    cursor: pointer;
}

.portfolio-gallery .image-wrapper {
    position: relative;
    height: 240px;
}
.portfolio-gallery .overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: rgba(161, 161, 161, 0.85);
    overflow: hidden;
    width: 360px;
    margin: 0 auto;
    height:0;
    transition: .5s ease;
}
.portfolio-gallery .image-wrapper:hover .overlay {
    bottom: 0;
    height: 100%;
}
.overlay-inner {
    color: white;
    font-size: 36px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
.overlay-inner a {
    color: inherit;
}
@media screen and (max-width: 991px) {
    .portfolio-gallery h3 {
        margin: 5px 0;
    }
}

.padded {
    position: relative;
    height: 41px;
    background-image: url("images/line.svg");
    background-size: cover;
}

.portfolio-gallery button {
    position: absolute;
    top: -5px;
    margin-left: -25px;
    width: 50px;
    height: 50px;
    box-shadow: none;
    border: 1px solid #bcbbbb;
    border-radius: 50%;
}

.collapse-content {
    position: relative;
    top: 60px;
    margin-bottom: 60px;
}

/*experience styles and education*/
.panel-group a {
    text-decoration: none;
    font-family: inherit;
    font-size: inherit;
}

@media screen and (max-width: 768px) {
    .panel-group td {
        display: table-row;
    }
}

.table-style-content {
    position: relative;
    margin: 0 16.66666667%;
    padding: 0;
}

.term-ed {
    margin: 15px 0;
    padding-left: 10px;
    float: left;
    width: 30%;
}

.employer-ed {
    margin: 15px 0;
    padding-left: 10px;
    float: right;
    width: 70%;
    border-left: 1px solid #bcbbbb;
}

@media screen and (max-width: 650px) {
    .term-ed,
    .employer-ed {
        width: 100%;
        border-left: none;
        display: inline-block;
    }
}

/*reference styles*/
.carousel {
    height: 250px;
    line-height: 250px;
    background-image: url("images/sky.jpg");
}

.carousel-inner p {
    color: #2b2d2c;
}

.carousel-indicators {
    margin-bottom: -120px;
}

.carousel-inner {
    width: 60%;
    margin: 0 0 5% 20%;
    line-height: normal;
    display: inline-block;
    vertical-align: bottom;
}

.item {
    height: 200px;
    line-height: 200px;
}

.item p {
    line-height: normal;
    display: inline-block;
    vertical-align: bottom;
}
.contact img:hover {
    border: 2px inset gray
}
.project-entry {
    float: left;
}