/*general page styles*/
body {
    font-family: "Lato", sans-serif;
    font-weight: 300;
}

button,
button:active,
button:focus,
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: none;
}

.wrapper {
    overflow: hidden;
}

.space-after {
    margin-bottom: 30px;
}

a {
    text-decoration: none;
    font-family: "Cutive Mono", monospace;
    font-size: 20px;
}

a:hover,
a:focus {
    text-decoration: underline;
}

.text-thin {
    font-weight: 100;
}

.text-medium {
    font-weight: 400;
}

.text-indent {
    text-indent: 2em;
}

#back-to-top {
display: none;
    z-index: 10;
    position: fixed;
    top: 50%;
    left: 0;
    margin: 6px;
    width: 50px;
    height: 50px;

    cursor: pointer;
    border-radius: 50%;
    background-color: gainsboro;
    color: rgba(0, 0, 0, 0.67);
    opacity: 0.6;
}
#back-to-top a {
    display: block;
}
#back-to-top span {
   font-size: 1.5em;
    margin: 20%
}
/*header styles*/
header {
    margin-bottom: 70px;
}
header img {
    margin-top: 20px;
}

header hr {
    margin: 0;
    border-top: 2px solid #bcbbbb;
}
header p {
    display: inline-block;
    margin-bottom: 0;
}
header p:nth-child(1) {
    margin-right: 50px;
}
.anchor {
    position: absolute;

}
.logo-holder {
    padding-bottom: 11px;
    box-sizing: border-box;
    margin-top: -11px;
}
/*portfolio styles*/
.portfolio-gallery a {
    display: block;
    margin-bottom: 15px;
}

.portfolio-gallery img {
    width: 360px;
    cursor: pointer;
}

.portfolio-gallery .image-wrapper {
    position: relative;
    height: 240px;
}
.portfolio-gallery .overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: rgba(161, 161, 161, 0.85);
    overflow: hidden;
    width: 360px;
    margin: 0 auto;
    height:0;
    transition: .5s ease;
}
.portfolio-gallery .image-wrapper:hover .overlay {
    bottom: 0;
    height: 100%;
}
.overlay-inner {
    color: white;
    font-size: 36px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
.overlay-inner a {
    color: inherit;
}
@media screen and (max-width: 991px) {
    .portfolio-gallery h3 {
        margin: 5px 0;
    }
}

.padded {
    position: relative;
    height: 41px;
    background-image: url("images/line.svg");
    background-size: cover;
}

.portfolio-gallery button {
    position: absolute;
    top: -5px;
    margin-left: -25px;
    width: 50px;
    height: 50px;
    box-shadow: none;
    border: 1px solid #bcbbbb;
    border-radius: 50%;
}

.collapse-content {
    position: relative;
    top: 60px;
    margin-bottom: 60px;
}

.project-entry {
    float: left;
}

.my-contacts {
    width: 100%;
    height: 90px;
    background-color: #bcbbbb;
    color: #747774;
    font-size: 14px;

}
.my-contacts .wrapper {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.my-contacts p {
    letter-spacing: 2px;
}
.my-contacts a {
    color: #747774;
    font-size: 14px;
}